#exam_div
{
    margin: 0 auto;
    margin-top: 130px;
    width: 60%;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

#exam_title
{
    font-size: 24px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
}

#loading_fetching
{
    text-align: center;
    color: #0098d3;
}

.question
{
    margin-bottom: 25px;
    padding-left: 20px;
}

.question_content
{
    font-weight: bold;
}

.answers
{
    margin: 15px;
}

#failed_message
{
    margin: 0 auto;
    margin-top: 130px;
    width: 60%;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    display: none;
    text-align: center;
}

#failed_msg_content
{
    display: block;
    color: red;
    margin-bottom: 20px;
}

#failed_message button
{
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 70px 10px 70px;
    color: #fff;
    background-color: #0098d3;
    margin: 0 auto;
    transition: background-color .3s ease;
}

#failed_message button:hover
{
    background-color: #2fb7ec;
}

#check_exam_btn
{
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 70px 10px 70px;
    color: #fff;
    background-color: #0098d3;
    display: none;
    margin: 0 auto;
    transition: background-color .3s ease;
}

#check_exam_btn:hover
{
    background-color: #2fb7ec;
}