body
{
    background-color: rgb(248, 250, 251);
    font-family: "proximanova", sans-serif;
}

#top_bar
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #494748;
    height: 52px;
    z-index: 100;
}

#top_bar button
{
    position: relative;
    float: right;
    right: 30px;
    height: 100%;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .3s ease;
}

#top_bar button:hover
{
    background-color: #0098d3;
}

#user_span
{
    position: relative;
    float: left;
    left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    padding: 17px;
}

#username_value
{
    font-weight: bold;
    font-style: italic;
}
